/* === Contenu du CV === */
.cv-page-container {
    width: 50%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 15% 85%;
    gap: 5px;
}

/* Colonne gauche */
.cv-left-column {
    width: 40%;            /* Largeur fixe */
    position: sticky;
    top: 20px; /* distance depuis le haut de la fenêtre */
}

/* Colonne droite (contenu) */
.cv-right-column {
    flex: 1;                 /* Prend tout l’espace restant */
    padding: 40px;
    overflow-y: auto;        /* Scroll si trop de contenu */
}

a.cv-section-link {
    display: block;
    font-weight: bold;
    padding: 10px;
    color: #2F184B;
    text-decoration: none;
    margin-bottom: 5px;
    border-left: 4px solid transparent;
}

a.cv-section-link:visited {
    display: block;
    padding: 10px;
    color: #2F184B;
    text-decoration: none;
    margin-bottom: 5px;
    border-left: 4px solid transparent;
}

a.cv-section-link:hover {
    color: #EF6F6C;
    text-decoration: underline;
}

.cv-section {
    padding: 6px 12px;
    border-radius: 6px;
    background-color: #FCF9EE;
}


.cv-section + .cv-section {
    margin-top: 40px;
}

.cv-section h2 {
    font-size: 1.6rem;
    border-bottom: 5px solid #885DC0;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #885DC0;
}

.cv-item:not(:last-child) {
    border-bottom: 1px solid #A888D1;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

.cv-item {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 15px;
    margin-bottom: 20px;
    align-items: start;
}

/* Dates */
.cv-item-date {
    display: inline-block;
    background: #1C7293;   
    color: #F9F3DC;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 0.8em;
    white-space: nowrap;   /* empêche le retour à la ligne */
}


.cv-item-title{
    font-weight: bold;
    color: #2F184B;
    font-size: 1.1em;
}

/* Place */
.cv-item-place {
    font-weight: bold;
    color: #2F184B;
    font-size: 0.8em;
}

.cv-item-place::before {
    font-weight: bold;
    content: "\f19c ";
    font-family: "Font Awesome 6 Free";
    color: #1C7293; /* Couleur de l’icône */
    margin-right: 10px;
}

/* People */
.cv-item-people {
    font-style: italic;
    color: #2F184B;
    font-size: 0.8em;
}

.cv-item-people::before {
    font-weight: bold;
    font-style: normal;
    content: "\f500";
    font-family: "Font Awesome 6 Free";
    color: #1C7293; /* Couleur de l’icône */
    margin-right: 10px;
}
